requests==2.31.0
beautifulsoup4==4.12.2
pandas==2.1.4 
selenium==4.11.0
google-genai
transformers
accelerate
FlagEmbedding
chromadb
langchain_experimental 
langchain_huggingface
langchain-community
langchain 
rank_bm25
bitsandbytes
peft 
safetensors 
sentencepiece
pytesseract
langchain-chroma
flashrank
openai